.journal {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;

  &__sidebar {
    padding: 20px;

    background-color: $dark-grey;
    color: $white;
    overflow: hidden;

    &-navbar {
      width: 100%;
      align-self: start;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    &-title {
      font-size: 22px;
      font-weight: lighter;
    }

    &-new-entry {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      width: 100%;


      color: $white;
      cursor: pointer;

      transition: color 300ms ease-in-out;

      &:hover {
        color: darken($white, 20)
      }
    }

    // &-entries {}

    &-entry {
      background-color: $white;
      border-radius: 4px;
      color: $dark-grey;
      display: grid;
      grid-template-columns: 80px 1fr 75px;
      margin-bottom: 10px;
      overflow: hidden;
    }

    &-svg,
    &-picture {
      max-width: 150px;
      min-height: 75px;
    }

    &-svg {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80%;
      background-image: url("../../images/image-regular.svg");
    }

    &-picture {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url("../../images/image-regular.svg");
    }

    &-body {
      padding: 10px;
      border-right: 1px solid #ddd;
    }

    &-entry-title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    &-entry-content {
      font-size: 12px;
    }

    &-entry-date-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: 12px;
    }

    &-entry-date-day {
      font-size: 12px;
    }

    &-entry-date-number {
      font-weight: bold;
    }

  }
}

@media(max-width: 767px) {
  .journal {
    display: block;
  }
}